@{
  Layout = "_Layout";
}

@using NonogramPuzzle.Models

<h1>Nonogram</h1>
<p>@Html.ActionLink("Read Rules", "Rules")</p>
<p>@Html.ActionLink("Nonogram Puzzles", "Index", "Nonogram")</p>
<p>@Html.ActionLink("Create a Nonogram", "Create", "Nonogram")</p>