@{
    ViewData["Title"] = "Delete Nonogram Puzzle";
}

@model NonogramPuzzle.Models.Nonogram

<h2>Are you sure you want to delete this?</h2>

<h3> NonogramId: @Html.DisplayFor(model => model.NonogramId)</h3>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to List", "Index")