@* @{
    ViewData["Title"] = "Nonogram Grid";
}

@using NonogramPuzzle.Models
@model NonogramPuzzle.Models.Cell
@model IEnumerable<NonogramPuzzle.ViewModels.CellViewModel> *@



@* <p>
  <a asp-action="Create">Nonogram Creator's Board</a>
</p>

@{
  string[] imageNames = {"whitecell.png", "blackcell.png"};
  int width = 7;
}

<form> 
  <div class="cell-zone">

    @for (int i = 0; i < Model.Count(); i++)
    {
      if (i % width == 0)
      {
        <div class="line-break"></div>
      }
      <div class="puzzleCell">
        <button name="cellNumber" value="@Model.ElementAt(i).CellId" type="submit" asp-controller="CellViewModels" asp-action= "HandleCellClick">
        <img class="puzzleCellImage" src="~/img/@imageNames[Model.ElementAt(i).CellState]" />
        <div class="cellLabel">
          @Model.ElementAt(i).CellId, @Model.ElementAt(i).CellState;
        </div>
        </button>
      </div>
    }
  </div>
</form> *@

<p>@Html.ActionLink("Add new Cells", "Create")</p>